<cst-Top-Menu></cst-Top-Menu>
<div class="ui message">
    <div class="ui header">About</div>
    <div class="ui divider"></div>
    <p>
        This is an angular js application with C# backend services (WebAPI).
    </p>
    <div>
        Server-Side Tools
        <ul>
            <li>Asp.Net WEB API</li>
            <li>Entity Framework</li>
            <li>StructureMap</li>
        </ul>
    </div>
    <div>
        Client-Side Tools
        <ul>
            <li>AngularJS</li>
            <li>Semantic UI</li>
        </ul>
    </div>
</div>
