<cst-Top-Menu></cst-Top-Menu>
<div class="ui small segment">    
    <div class="container">
        <div class="ui ribbon label red">Job Details - Job Number : {{job.JobNumber}}</div>
        <div class="ui top attached segment">Job Name : {{job.Name}}</div>
        <div class="ui attached segment">Description : {{job.Description}}</div>
        <div class="ui attached segment">Quantity : {{job.Quantity}}</div>
        <div class="ui bottom attached segment">Due Date: {{job.DueDate | date:'dd/MM/yyyy'}}</div>
    </div>
    <br />
    <div class="ui buttons">
      <div class="ui button"><a href="/Jobs/">Back</a></div>
      <div class="or"></div>
      <div class="ui positive button"><a href="/JobAttachments/Add/{{job.Id}}">Add Attachment</a></div>
    </div>    
    <br /><br/>
    <job-Attachment-List attachments="attachments" />
</div>