<div class="ui small feed segment" data-ng-controller="JobAttachmentCtrl">
    <div class="ui teal ribbon small label">Attachments </div>
    <div data-ng-repeat="attachment in jobAttachments" class="event">
        <div class="label">
            <confirmation-Modal title="Deleting attachment?" id="{{attachment.Id}}" on-Delete-Job="deleteJobAttachment" closable="true"/>
        </div>
        <div class="content">
            <div class="summary">
                You had an attachment {{attachment.FriendlyName}} <b>{{attachment.FileName}}</b>
            </div>
        </div>
    </div>
    <div data-ng-show="jobAttachments.length == 0" class="event">
        <div class="ui small warning message">
            <div class="header">
                You don't have any attachment against this job        
            </div>
        </div>
    </div>
</div>
