<cst-Top-Menu></cst-Top-Menu>
<cst-Loading-Overlay></cst-Loading-Overlay>
<div class="ui message">
    <div class="ui header">Jobs List</div>
</div>
<div class="ui segment">
    <div class="container">
        <div class="ui input dropdown" style="width: 100%">
            <div class="field">                
                <label>Search Jobs :</label>
                <br/>
                <div class="dropdown">
                    <input type="text" ng-enter='whenEnterPressed()' data-ng-model="selectedJob" placeholder="Please enter your job name ..." 
                           typeahead-on-select='onSelect($item, $model, $label)'
                           typeahead="job.Name for job in jobs | limitTo:20"
                        >                                                            
                </div>
            </div>
        </div>
<!--        <confirmation-Modal modal-Title="wer" closable="true"/>-->
        <table class="ui six column table segment">
            <thead>
                <tr>
                    <th>Job Number</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Rep Name</th>
                    <th>Attachments</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
                <tr>
                    <td class="danger" colspan="6" data-ng-show="jobs.length == 0">
                        There are no jobs
                    </td>
                </tr>
                <tr data-ng-repeat="job in jobs" data-ng-class="{'warning': job.AttchmentCount > 0}">
                    <td>
                        <a href="/Jobs/{{job.Id}}">{{job.JobNumber}}</a>
                    </td>
                    <td>{{job.Name}}</td>
                    <td>{{job.Quantity}}</td>
                    <td>{{job.AssignedTo}}</td>
                    <td>{{job.AttchmentCount}}</td>
                    <td>
                    
                        <a href="/Jobs/Edit/{{job.Id}}"><i class="square edit teal icon"></i></a>
                        <a href="javascript:;" data-ng-click="deleteJob(job.Id)"><i class="square red trash icon"></i></a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui primary button small">
                            <a href="/Jobs/Add">New Job</a>                        
                        </div>                
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
