<cst-Top-Menu></cst-Top-Menu>
<div class="row">
    <h5 class="ui header">Jobs List</h5>
    <div style="float: right;">
        <a class="ui mini button" href="/Jobs/Add">New</a>
    </div>    
</div>
<div>
    <table class="ui small table segment">
        <thead>
            <tr>
                <th>Job Number</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
            <tr>
                <td class="danger" colspan="4" data-ng-show="jobs.length == 0">
                    There are no jobs
                </td>
            </tr>
            <tr data-ng-repeat="job in jobs">
                <td>
                    <a href="/Jobs/{{job.Id}}">{{job.JobNumber}}</a>
                </td>
                <td>
                    {{job.Name}}
                </td>
                <td>
                    {{job.Quantity}}
                </td>
                <td style="width: 10%;">
                    <a href="/Jobs/Edit/{{job.Id}}"><i class="edit icon"></i></a>
                    <a href="javascript:;" data-ng-click="deleteJob(job.Id)"><i class="trash icon"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

