<form name="activityform" role="form" class="ui form segment">
    <div class="ui header"><i class="add icon"></i> Add Job Attachment</div>
    <div class="ui divider"></div>
    <div class="field">
        <label for="FileName">
            File Name<span style="color: Red">*</span>
        </label>
        <input type="text" id="FileName" placeholder="File Name" required data-ng-model="jobAttachment.FileName" />
    </div>
    <div class="field">
        <label for="FriendlyName">
            Friendly Name<span style="color: Red">*</span>
        </label>
        <input type="text" id="FriendlyName" placeholder="Friendly Name" required data-ng-model="jobAttachment.FriendlyName" />
    </div>
    <div class="ui divider"></div>
    <div class="inline field">
        <button data-ng-disabled="activityform.$invalid" data-ng-click="addAttachment(jobAttachment)"
                class="ui primary mini button">
            Submit
        </button>
        <a class="ui secondary mini button" href="/Jobs/job/{{jobAttachment.jobId}}">Cancel</a>
    </div>
</form>
