<h5 class="ui header">Add Job Attachment</h5>
<div class="ui divider"></div>

<form name="activityform" role="form" class="ui secondary small form segment">
    <h5 class="ui header">
        Add Job Attachment
    </h5><div class="ui divider"></div>
    <div class="field">
        <label for="FileName">
            File Name<span style="color: Red">*</span>
        </label>
        <input type="text" id="FileName" placeholder="File Name" required data-ng-model="jobAttachment.FileName" />
    </div>
    <div class="field">
        <label for="FriendlyName">
            Friendly Name<span style="color: Red">*</span>
        </label>
        <input type="text" id="FriendlyName" placeholder="Friendly Name" required data-ng-model="jobAttachment.FriendlyName" />
    </div>
    <div class="ui divider"></div>
    <div class="inline-field">
        <button data-ng-disabled="activityform.$invalid" data-ng-click="addAttachment(jobAttachment)"
                class="ui blue mini button">
            Submit
        </button>
        <a class="ui black mini button" href="/JobAttachments/{{jobAttachment.Id}}">Cancel</a>
    </div>
</form>
